@model PersonMediaAudioVideoRel

@{
    ViewBag.Title = "Create";
}

<h2 class="page-title small">Create New Person/MediaAudioVideo Relationship</h2>
<div class="row">
    @Html.Partial("_CreateOrEditPersonMediaAudioVideo", Model)
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


