@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>Beholder.</h1>
</hgroup>
<p>
    Beholder is a Business Intelligence (BI) system used to capture, maintain, and report on data collected from a wide variety of sources and by various business functions within the SPLC. Beholder organizes data into Groups, Chapters, Events, and Individuals, and maintains relationships between these types and collected media data. Media data types include text, video, and audio collected from physical clippings, publications, websites, and other sources.
</p>

<article>
    Beholder data are used to support various functions of the SPLC, including:    

    <ol class="round">
        <li class="one">
            <h5>Publication</h5>
            Periodic and annual reports on Hate activity and distribution</li>
        <li class="two">
            <h5>Publication</h5>
            Research and background material for articles published by SPLC and external parties</li>
        <li class="three">
            <h5>Security</h5>
            Investigation of personnel brought to SPLC attention as well as support of SPLC staff appearances</li>
        <li class="four">
            <h5>Law Enforcement Support</h5>
            Supplying information to local law enforcement parties, as needed
        </li>
    </ol>
</article>
