
@{
    ViewBag.Title = "UserNotDefined";
}

<h2>No Roles Defined</h2>
<p>
    Your user account has not been defined in any roles. Contact administrator to add your network account to applicable roles. 
</p>

