@model NewsSource

@{
    ViewBag.Title = "Create";
}

<h2 class="title-bar">New News Source</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_CreateOrEdit", Model)

    <div class="row">
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

