@model AddressChapterRel

@{
    ViewBag.Title = "Create";
}

<h2 class="page-title small">Create New Address</h2>

<div class="row">
    @Html.Partial("_CreateOrEditChapterAddress", Model)
    <input type="submit" value="Create Address" class="btn btn-primary pull-right" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


