@model OrganizationPersonRel

@{
    ViewBag.Title = "Edit";
}

<h2 class="page-title small">Update Organization Relationship</h2>

<div class="row">
        @Html.Partial("_CreateOrEditOrganizationPerson", Model)
        <input type="submit" value="Save Relationship" class="btn btn-primary pull-right" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
