@model MediaPublishedSubscriptionRel

@{
    ViewBag.Title = "Create";
}

<h2 class="page-title small">Create New Published Item Subscription Relationship</h2>

<div class="row">
    @Html.Partial("_CreateOrEditMediaPublishedSubscription", Model)
    <input type="submit" value="Save Relationship" class="btn btn-primary pull-right" />
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


