@model EventMediaImageRel

@{
    ViewBag.Title = "Create";
}

<h2 class="page-title small">Create New Event/MediaImage Relationship</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal well well-small fieldset-auto-width">
        <legend></legend>

        @Html.Partial("_CreateOrEditEventMediaImage", Model)

        <input type="submit" value="Create Relationship" class="btn btn-primary pull-right" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


