@model ChapterComment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="row">
    @Html.Partial("_CreateOrEditChapterComment", Model)
    <input type="submit" value="Save" />
</div>


<div>
    @Html.ActionLink("Back", "Details", "Chapters", new { id = Model.ChapterId }, null)
</div>
