@model MediaWebsiteEGroupComment

@{
    ViewBag.Title = "Create";
}


<h2 class="page-title small">New Comment</h2>

<div class="row">
    @Html.Partial("_CreateOrEditMediaWebsiteEGroupComment", Model)
    <input type="submit" value="Save" />
</div>

<div>
    @Html.ActionLink("Back", "Details", "MediaWebsiteEGroups", new { id = Model.MediaWebsiteEGroupId }, null)
</div>
