@model MediaPublishedComment

@{
    ViewBag.Title = "Edit";
}

<h2 class="page-title small">Edit Comment</h2>

<div class="row">
    @Html.Partial("_CreateOrEditMediaPublishedComment", Model)
    <input type="submit" value="Save" />
</div>

<div>
    @Html.ActionLink("Back", "Details", "MediaPublisheds", new { id = Model.MediaPublishedId }, null)
</div>
