@model MediaCorrespondenceMediaImageRel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MediaCorrespondenceMediaImageRel</legend>
</fieldset>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" })) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


