@model MediaCorrespondenceVehicleRel

@{
    ViewBag.Title = "Edit";
}
<h2 class="page-title small">Edit Correspondence/Vehicle Relationship</h2>

<div class="row">
    @Html.Partial("_CreateOrEditMediaCorrespondenceVehicle", Model)
    <input type="submit" value="Save Relationship" class="btn btn-primary pull-right" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
