@model ChapterChapterRel

@{
    ViewBag.Title = "Create";
}

<h2 class="page-title small">Create New Relationship</h2>

<div class="row">
    @Html.Partial("_CreateOrEditChapterChapter", Model)
    <input type="submit" value="Create Relationship" class="btn btn-primary pull-right" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
