@model Chapter
@{
    ViewBag.Title = "New Chapter";
}
<h2 class="title-bar">@ViewBag.Title</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal"}))
{
    <div class="row">
        @Html.Partial("_CreateOrEdit", Model)
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-default"})
}

<script>
    function onSuccess(result) {
        if (result.url) {
            window.location.href = result.url;
        }
    }
</script>