@model List<splc.domain.Models.BeholderPerson>


@{
    ViewBag.Title = "PersonApprovals";
    Layout = "~/Views/Approval/_ApprovalLayout.cshtml";
}

<h2>Person Relationship Approvals</h2>


<div class="row">
    <table>
        <thead>
            
        </thead>
    </table>
   @foreach (var person in Model)
   {
       
   }
</div>
