<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ACDBContext" connectionString="Data Source=Dev-data02-a\dev_default;Initial Catalog=ACDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="ACDBEntities" connectionString="metadata=res://*/ACDBModel.csdl|res://*/ACDBModel.ssdl|res://*/ACDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dev-data02-a\dev_default;initial catalog=ACDB;integrated security=False;user id=BeholderDev1;password=BeholderDev1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ACDBContext" connectionString="metadata=res://*/ACDBModel.csdl|res://*/ACDBModel.ssdl|res://*/ACDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dev-data02-a\dev_default;initial catalog=ACDB;integrated security=False;user id=BeholderDev1;password=BeholderDev1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
