@model splc.domain.Models.MediaImageMediaImageRel

@{
    ViewBag.Title = "Edit";
}
<h2 class="page-title small">Edit MediaImage/MediaImage Relationship</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal well well-small fieldset-auto-width">
        <legend></legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_CreateOrEditMediaImageMediaImage", Model)

        <input type="submit" value="Save Relationship" class="btn btn-primary pull-right" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
