@model MediaWebsiteEGroupMediaAudioVideoRel

@{
    ViewBag.Title = "Edit";
}
<h2 class="page-title small">Edit Website-EGroup/Audio-Video Relationship</h2>

<div class="row">
    @Html.Partial("_CreateOrEditMediaWebsiteEGroupMediaAudioVideo", Model)
    <input type="submit" value="Save Relationship" class="btn btn-primary pull-right" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
